/* Variables */

:root {
    /* colors */
    --yellow: rgb(245, 235, 150);
    --light-green: rgba(80, 148, 108, 0.75);
    --dark-green: #0d350d;
    --rounded-shadow: inset -9px -9px 5px -9px #176e17, inset 7px 7px 8px -3px #10180b;

    --transition: 0.3s ease-in-out;
}

/* Main Content */

body {
    background-size: cover;
} 
.hero.is-primary {
    background-color: var(--light-green);
}
.header {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10%;
    box-shadow: inset 0px -4px 21px -4px black;
}
.title {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    text-shadow: -5px 3px 5px black;
    transition: var(--transition);
}
.title:hover {
    cursor: pointer;
    text-shadow: -5px 3px 10px black;
}
.title span {
    color: rgb(20, 90, 221);
    font-weight: 700;
}

/* Form */

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70%;
}
.dropdown-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.control {
    text-align: right;
}
.search,
.country-container {
    width: 16rem;
}
.checkbox {
    margin: 0.5rem 0 0.25rem;
    background: var(--dark-green);
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    box-shadow: var(--rounded-shadow);
    transition: 0.3s ease-in-out;
}
.checkbox:hover {
    background: var(--yellow);
    transform: scale(1.1);
    background: var(--yellow);
    box-shadow: 0px 0px 2px 3px black;
    transform: scale(1.1);
}

/* Search buttons */
#search-button {
    background: var(--dark-green);
    border: none;
    box-shadow: var(--rounded-shadow);
    transition: 0.3s ease-in-out;
}
#search-button:hover {
    color: black;
    background: var(--yellow);
    box-shadow: 0px 0px 2px 3px black;
}

/* Information cards */

#infocards {
    display: flex;
    flex-direction: column;
}
#infocards img {
    border-radius: 2rem;
    box-shadow: 0px 0px 3px 3px black;
}
.info-container {
    padding: 1rem;
    font-size: 1.6rem;
}
.info-container h2 {
    font-size: 2.5rem;
}
.info-container p {
    background: white;
    padding: 0.2rem;
    border-radius: 0.3rem;
}
.results {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    box-shadow: inset -9px -9px 5px -9px #073607, inset 7px 7px 8px -3px #9eb2b8;;
}
.results:nth-child(even) {
    background: rgb(247, 237, 237, 0.91);
}
    
.results h4 {
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: left;
    padding: 5px;
}
.results p {
    text-align: left;
}
.results a {
    font-style: italic;
    font-size: larger;
    padding: 5px;
}

/* Media Queries */

@media screen and (min-width: 550px) {
    .header {
        flex-direction: row;
    }

}

@media screen and (min-width: 776px) {
    .input-container {
        align-items: flex-end;
    }
    .dropdown-container {
        flex-direction: row;
    }
    .results {
        flex-direction: row;
    }
    #infocards img {
        width: 35%;
    }
}

@media screen and (min-width: 1075px) {
    .title {
        flex-direction: row;
    }
    
}
