body {
    height: 100vh;
    background-repeat: no-repeat ;
    background-size: cover;
    overflow: hidden;
    }
    
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10%;
    background: rgb(80, 148, 108);

}

.title:hover {
    cursor: pointer;
}
.title span {
    color: rgb(20, 90, 221);
    font-weight: 700;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70%;
}
.dropdown-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.control {
    text-align: right;
}
.search,
.country-container {
    width: 16rem;
}
.checkbox {
    background: #0d350d;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    transition: 0.3s ease-in-out;
}
.checkbox:hover {
    background: rgb(245, 235, 150);
    transform: scale(1.1);
}
#search-button {
    background: rgb(13, 53, 13);
    transition: 0.3s ease-in-out;
}
#search-button:hover {
    color: black;
    background: rgb(245, 235, 150);
}

@media screen and (min-width: 550px) {
    .header {
        flex-direction: row;
    }
}

@media screen and (min-width: 776px) {
    .input-container {
        align-items: flex-end;
    }
    .dropdown-container {
        flex-direction: row;
    }
}

.results {
    background-color: rgba(255, 255, 255, 0.85); ;
    border-radius: 5px;
}
