body {
height: 100vh;
background-repeat: no-repeat ;
background-size: cover;
overflow: hidden;
}

#extrapadding {
    padding: 10px;
}

#card {
    background-color:rgb(80, 148, 108) !important;
}

#searchbar {
    max-width: 400px !important;
    width: 400px !important;
}